<td>{{entry.when}}</td>
<td>
    <div>
        {{entry.type}}, {{entry.title}}. {{entry.organization}}.
    </div>
    {% if entry.comments %}
    <div>
    <span class="small-details">
         {{ entry.comments }}.
    </span>
    </div>
    {% endif %}
</td>
